
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    font-family: 'Roboto Slab', serif;
}

html {
    background: #d6d5d5;
}

body {
    width: 1200px;
    margin: auto;   
}

a {
    text-decoration: none;
    color: #4d4d4d;
}

/*  ------------------------------------------------------------  */
header {
    width: 100%;
    background: #aaaaaa;
    margin-top: 20px;
    display: flex;
    border-radius: 8px;
}

.logo-home img {
    width: 50px;
    margin-left: 20px;
    padding: 5px;
    display: flex;
}

header img:hover {
    background-color: #707070;
    border-radius: 8px;
    transition: 1.5s;
}

.list-menu {
    background-color:#aaaaaa;
    display: grid;
    align-items: center;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px auto;
    font-size: 16px;
}

.list-menu a:hover {
    background-color: #707070;
    color: #ffffff;
    border-radius: 8px;
    padding: 13.5px;
    transition: 1s;
}

.list-menu .menu-historia {
    margin: 0px auto;
    font-size: 25px;
    font-weight: bold;
}

.list-menu .menu-contato {
    margin: 0px auto;
    font-size: 25px;
    font-weight: bold;
}

.list-menu .menu-dropdown {
    position: relative;
    display: inline-block;
    margin: 0px auto;
}

.list-menu .menu-dropdown .dropbutton {
    background-color: #aaaaaa;
    border: none;
    cursor: pointer;
    color: #4d4d4d;
    font-size: 25px;
    font-weight: bold;
}

.list-menu .menu-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #808080;
    min-width: 188.23px;
    z-index: 1;
    border-radius: 0px 0px 8px 8px;
}

.list-menu .menu-dropdown .dropdown-content ul {
    list-style-type: none;
    display: inline;
}

.list-menu .menu-dropdown .dropdown-content ul li a {
    list-style-type: none;
    display: block;
    color: black;
    padding: 10px 10px;
}

.list-menu .menu-dropdown:hover .dropdown-content {
    display: block;

}

.list-menu .menu-dropdown:hover .dropdown-content:hover ul li a:hover{
    background-color: #4d4d4d;
    color: #ffffff;
    border-radius: 0px;
}

.list-menu .menu-dropdown:hover .dropbutton {
    background-color: #707070;
    color: #ffffff;
    border-radius: 8px 8px 0px 0px;
    padding: 13.5px;
    transition: 1s;
}

.list-menu .menu-dropdown .dropdown-content {
    background-color: #707070;
}
/* ----------------------------------------------------------   */

img#img-fundo {
    display: flex;
    margin: auto;
    padding: 5px 0px;
}

/* ----------------------------------------------------------   */
section {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: transparent;
    border-radius: 8px;
    background-color: white;
}

section img {
    width: 80px;
    padding: 10px;
}
section h1 {
    font-size: 40px;
}

section p {
    padding: 10px 50px;
    text-align: justify;
    line-height: 1.8;
}

section p a {
    color: red;
}

/* ------------------------------------------------------------ */
footer {
    width: 200px;
    margin: auto;
    text-align: center;
}

/*  ----------------------------------------------------------- */
button.top {
    width: 35px;
    height: 35px;
    border: transparent;
    border-radius: 30%;
    position: fixed;
    z-index: 1000;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

button.top:hover {
    background-color: rgb(170, 169, 169);
    transition: 1.5s;
}

button img {
    padding: 5px;
}



